{% extends 'layout.html' %}

{% block title %}
    Inicio
{% endblock title %}
    

{% block content %}
    {% if cliente %}
        <h1>Editar cliente: {{cliente.cedula}} {{cliente.nombre}}</h1>
    {% else %}
        <h1>Crear cliente</h1>
    {% endif %}

    {% with messages = get_flashed_messages()  %}
        {% if messages %}
            {% for message in messages  %}
                <div class="message alert-success">
                    {{message}}
                </div>
            {% endfor %}   
        {% endif %}   
    {% endwith %}

    <form action="" method="POST" enctype="multipart/form-data">
        <label for="cedula">Cédula</label>
        <input type="text" name="cedula" required {% if cliente %} value="{{cliente.cedula}}" {% endif %}/>

        <label for="nombre">Nombre</label>
        <input type="text" name="nombre" {% if cliente %} value="{{cliente.nombre}}" {% endif %}/>

        <label for="direccion">Dirección</label>
        <input type="text" name="direccion" {% if cliente %} value="{{cliente.direccion}}" {% endif %}/>

        <label for="telefono">Telefono</label>
        <input type="text" name="telefono" {% if cliente %} value="{{cliente.telefono}}" {% endif %}/>

        <label for="foto">Foto</label>
        <input type="file" accept="image/*" name="foto" value="carga una foto"/>

        <input type="submit" value="Guardar"/>
    </form>
{% endblock content %}
    